<div style="border:solid 1px;border-color:#C8C8C8;background-color:#E0E0E0;padding:10px;">
	<p><b>Buenos dias <%= @client.clientName %> <%= @client.clientLastName %></b></p>
	<br>
	<p><%= @message %></p>
</div>