
<div style="border:solid 1px;border-color:#C8C8C8;background-color:#E0E0E0;padding:10px;">
<p><b>Buenos dias <%= @user.name %> <%= @user.lastname %></b></p>
<br>
<p  style="color:#C8C8C8;">&nbsp;<%= @current_user.email %></p>
<br>
<p><%= @message %></p>
</div>