<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>
    Nuevo Cliente
    <small>Cree un nuevo cliente en el sistema</small>
  </h1>
  <ol class="breadcrumb">
    <li><a href="<%= clients_path %>"></i>Clientes</a></li>
    <li class="active">Nuevo Cliente</li>
  </ol>
	<%= render 'form' %>
	<%= link_to 'Volver', clients_path %>
</section>


