<div class="row">
	<div class="col-xs-12 col-md-6">
		<div class="box box-success">
			<div class="box-header with-border">
				<h3 class="box-title">Gráfico de resultado</h3>
        <p>La etiqueta del gráfico indica el estudiante evaluado</p>
      </div>
			<div class="box-body">
				<canvas id="chart"></canvas>
			</div>
    </div>
  </div>
  <div class="col-xs-12 col-md-6">
    <div class="box box-primary">
      <div class="box-header with-border">
        <h3 class="box-title">Preguntas</h3>
      </div>
      <div class="box-body">
        <% survey.survey.questions.each_with_index do |question, index| %>
          <b>Pregunta <%= index + 1 %>:</b>
          <p><%= question.statement %></p>
        <% end %>          
      </div>
    </div>
  </div>	
</div>