<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>
    Editar Plantilla de Encuestas
  </h1>
  <ol class="breadcrumb">
  	<li><a href="<%= survey_path(@survey) %>">Plantilla de Encuesta</a></li>
    <li class="active">Editar Plantilla de Encuesta</li>
  </ol>
</section>

<!-- Main content -->
<section class="content">
	<div class="row">
  	<div class="col-xs-12">
  		<%= link_to survey_path(@survey)  do %>
  			<i class="fa fa-arrow-left"></i> Volver
  		<% end %>
  	</div>
	</div>
  <div class="row">
    <div class="col-xs-12 col-md-6 col-md-offset-3">
    	<div class="box box-primary">
    		<div class="box-header with-border">
    			<h3 class="box-title">Editar pregunta</h3>
    		</div>
	    	<div class="box-body">
					<%= render 'form' %>
	    	</div>
    	</div>
    </div>
  </div>
</section>
<!-- /.content -->
