<section class="content-header">
  <h1>
    Nuevo Abono
    <small>Cree un nuevo abono en el sistema, para un Cliente</small>
  </h1>
  <ol class="breadcrumb">
    <li><a href="<%= clients_path %>"></i>Abonos</a></li>
    <li class="active">Nuevo Abono</li>
  </ol>
	<%= render 'form' %>
	<%= link_to 'Volver', payments_path %>
</section>

