/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require adminlte
 *= require pace/blue/pace-theme-flash
 *= require toastr
 *= require dataTables.bootstrap
 *= require_self
 */
textarea {
	resize: vertical;
}
.white-text{
	color: #fff;
}
.table-pad{
	margin-left: 5px;
}
.content-header{
	padding: 15px;
}
.error-container p {
	font-size: 1.5rem;
}

.error-code {
	margin: 5px 0 20px 0;
	font-size: 6rem;
	display: block;
}

.error-message {
	font-size: 1.2rem !important;
	padding-top: 15px;
}

.error-link {
	margin: 10px 0;
}

.error-contact {
	margin-top: 10%;
}
