<p>¡Hola <%= @resource.name %> <%= @resource.lastname %>!</p>

<p>Este email se envió a usted por alguna de las siguientes razones:</p>
<ol>
	<li>Un administrador ha creado una nueva cuenta a su nombre en el sistema de encuestas 360 MANUEL App</li>
	<li>Usted ha solicitado un cambio de contraseña</li>
</ol>

<p>Puede cambiar su contraseña en el siguiente link: <%= link_to 'Cambiar mi contraseña', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Si usted no ha solicitao una cuenta en el sistema de administración del hotel El Patio, por favor ignore este correo.</p>
<p>Su contraseña no se cambiará hasta que ingrese al link y cree una nueva.</p>

<p>Atentamente, </p>
<p>Equipo MANUEL App</p>
