<html>
  <body>
    <h3 style= 'text-align: center;'>El Patio</h3>
    <%= yield %>
  </body>
  <br><br><br>
    <footer>
    	<h3><b>El Patio, 2017</b></h3>
    	<p>Hotel para perros</p>
    	<p style="color:#B0B0B0;">Consultar disponibilidad</p>
    </footer>
</html>
