<html>
  <body>
    <%= image_tag attachments['logo_elpatio.png'].url , style: 'display:block;margin-left: auto;margin-right: auto;' , alt: "Logo" %>
    <%= yield %>
  </body>
  <br><br><br>
    <footer>
    	<h3><b>El Patio, 2017</b></h3>
    	<p>Hotel para perros</p>
    	<p style="color:#B0B0B0;">Consultar disponibilidad</p>
    </footer>
</html>
